<div class="history">
  <div class="history-main">
    <div class="history-head">
      <br />
      <h2>UTTARAKHAND KRANTI DAL</h2>
    </div>
    <div class="head-data">
      <p>
        The UKD was established on 26 July 1979 by Prof. Devi Datt Pant,
        Indramani Badoni and Kashi Singh Airy at Nanital to fight for a separate
        state composed of the hill districts of Uttar Pradesh. The founding
        convention was chaired by Prof. Devi Datt Pant, former vice-chancellor
        of Kumaon University. Under the young leadership of Kashi Singh Airy who
        took the charge of struggle and public agitation and the aim was finally
        achieved, when the separate Uttaranchal state was formed on 9 November
        2000, later renamed Uttarakhand in 2007. However, in the first-ever
        state assembly elections in 2002, the party won only four out of 70
        seats and was outmaneuvered by the Indian National Congress and
        Bharatiya Janata Party, both despite being latecomers to the Uttarakhand
        statehood movement, succeeded in capturing its momentum for electoral
        gain and formed governments in the state.
      </p>
    </div>
    <div class="important-head">
      <h3>Important historical Events</h3>
      <div class="important-data">
        <p>
          1930 :The local residents of region moved a resolution by majority
          vote and claimed for a separate state of Uttarakhand. Thus the
          foundation of the movement for a separate state of Uttarakhand was way
          back in 1930.
        </p>
        <p>
          5th- 6th May1938 : In a political convention of the Congress in
          Srinagar (British Garhwal) Pt. Jawaharlal Nehru stated that keeping in
          view the distance geographic shapes and traditions, and for
          development of the region, the people of the region should have the
          right to the frame policies and take decision on for themselves on
          important issues.
        </p>
        <p>
          1946 : In the convention in Haldwani Garhwal Kesri Badri Outt Pandey
          demanded special status for the region Garh Kesri Ansuya Prasad
          Bahuguna called for development of Garhwal Kumaon region as a separate
          unit or state.
        </p>
        <p>
          1954 : Indira Singh Nayal a member of state legislative assembly wrote
          a letter to the Chief Minister Govind Vallabh Pant requesting for
          separate arrangements for the development of the region.
        </p>
        <p>
          1955 : Fazal Ali called for reformation of U.P. with the intention of
          forming a separate state of Uttrakhand.
        </p>
        <p>
          1957 : Vice-President of planning commission T.T. Krishnachari called
          for special attention to the problem of the people of hilly regions.
        </p>
        <p>
          12th May 1970 : Indira Gandhi imposed the responsibility of
          backwardness and underdevelopement of the hill stations V.P. on the
          state and the Central Government.
        </p>
        <p>
          24th July 1979.: Formation of "Uttarakhand Kranti Dal" for the
          formation of a separate hill state.
        </p>
        <p>
          June 1987 : Pledge for formation of separate Uttarakhand state in all
          party meeting in Karnprayag.
        </p>
        <p>
          Nov. 1987 : Protest in Delhi and noticed to President. Haridwar was
          included as a part of Uttarakhand as per notice.
        </p>
        <p>
          1991 : B.J.P. government passed the proposal for formation of
          Uttaranchal in the legislative assembly and send it to Central
          Government for approval.
        </p>
        <p>
          1994 : Chief Minister Mulayam Singh Yadav set up Kaniskya committee
          for evaluating demands for Uttarakhand.
        </p>
        <p>
          On 21 June 1994, the committee submitted its report in favour of
          Uttarakhand.
        </p>
        <p>
          June 1994 : Students' movements all over Uttarakhand for separate
          state.
        </p>
        <p>
          19th Aug. 1994 : Strike observed by employees of state government in
          Nainital, slogans were shorted in Loksabaha.
        </p>
        <p>
          1st Sep. 1994 : Police firing on protestors in Khatima, many were
          killed curfew imposed in Haldwani and Khatima
        </p>
        <p>
          2nd Sep. 1994 : Police firing on protestors in Mussorrie, 7 killed
          including ASP.
        </p>
        <p>
          3rd Sep. 1994: Mass protest of people from all walks of life including
          students, women etc. in all over Uttaranchal.
        </p>
        <p>
          1st - 2nd Oct. 1994 : Atrocities on protestors in their way to Delhi
          many killed, many imprisoned, their bus was set to fire, misbehaviour
          with women Mass protest in Delhi police firing on mob.
        </p>
        <p>
          3rd Oct. 1994: Mass protest all over Uttaranchal public property were
          destroyed curfew imposed in various region one person each killed in
          Nainital, Rishikesh and Dehradun.
        </p>
        <p>
          7th Oct. 1994 : One woman killed in police firing, one police station
          looted and policemen made to parade without uniform.
        </p>
        <p>13th Oct. 1994 : One killed during curfew in Dehradun.</p>
        <p>
          27th Oct. 1994 : Peace restored in Uttaranchal after talks with then
          Home Minister Rajesh Pilot.
        </p>
        <p>
          10th Nov. 1995 : Two protestors killed as a result of police
          atrocities on protestors in Triyank Taapu, Srinagar.
        </p>
        <p>
          5th Aug. 1996 : Prime Minister H. D. Devegauda announced the formation
          of Uttarakhand state from the red fort and asked the state legislative
          assembly for its opinion.
        </p>
        <p>
          1998 : For the first time B.J.P. sent an ordinance for the formation
          of Uttaranchal state through the President to the state legislative
          assembly.
        </p>
        <p>
          2000 : The government headed by Atal Behari Vajpayee once again sent
          the Uttar Pradesh reformation bill-2000 for the formation of
          Uttaranchal. The Central Government presented the bill in the Lok
          Sabha on 27th July 2000, the bill was passed in the Lok Sabha on the
          1st August 2000 and on 10th August 2000 in the Rajya Sabha. On 28th
          August 2000 it received the sanction of the President. The Central
          Government fixed 9th November 2000 for the formation of the
          Uttaranchal state.
        </p>
      </div>
    </div>
  </div>
</div>
